<html>
<head>
    <meta name="csrf-token" content="csrf-token">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Draw Recognition</title>
    <link rel="icon" type="image/x-icon" href="./assets/logo.png">
    <script type = "text/javascript">
        
        var mousePressed = false;
        var lastX,lastY;
        var ctx;

        function init(){
            canvas = document.getElementById("canvas");
            ctx = canvas.getContext("2d");
            ctx.fillStyle = "white";
            ctx.fillRect(0,0,canvas.width,canvas.height);
            

            $('#canvas').mousedown(function(e){
                mousePressed = true;
                Draw(e.pageX - $(this).offset().left, e.pageY - $(this).offset().top, false);
            });
          
            $('#canvas').mousemove(function(e){
                if(mousePressed){
                    Draw(e.pageX - $(this).offset().left, e.pageY - $(this).offset().top, true);
                }
            });
            $('#canvas').mouseup(function(e){
                mousePressed = false;
            });
            $('#canvas').mouseleave(function(e){
                mousePressed = false;
            });

        }
        
        function Draw(x,y,isDown){
            if(isDown){
                ctx.beginPath();
                ctx.lineWidth = $("#selWidth").val();
                ctx.strokeStyle = $("#selColor").val();
                ctx.lineJoin = "round";
                ctx.moveTo(lastX,lastY);
                ctx.lineTo(x,y);
                ctx.closePath();
                ctx.stroke();
            }
            lastX = x;
            lastY = y;
        }
        function clearCanvas(){
            ctx.setTransform(1,0,0,1,0,0);
            ctx.fillStyle = "white";
            ctx.fillRect(0, 0, canvas.width, canvas.height);
        }

        function postImage(){
            var img = document.getElementById("canvas").toDataURL("image/png");
            img = img.replace(/^data:image\/(png|jpg);base64,/,"");

            $.ajax({
                type: 'POST',
                url: '/recognize',
                data: JSON.stringify({image: img}),
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                success: function(msg, status, jqXHR){
                    var data = JSON.parse(jqXHR.responseText);
                    var prediction = data.prediction
                    document.getElementById('result').innerHTML = prediction;
                }
            });

        }

        function clearResult(){
            document.getElementById('result').innerHTML = "";
        }

    </script>
</head>
<body onload="init()">
    <div class="container">
        <div class="home__header">
            <h1>Draw Object Recognition</h1>
            <button id="Recognition" onclick="postImage()" class="btn__Recognition">
                <i class="fa-solid fa-magnifying-glass"></i>
                Recognition
            </button>
            <div class="Draw__tools">
                <button id="Clear" class="btn__clear" onclick="clearCanvas();clearResult();">
                    <img class="eraser" src="./assets/eraser.svg" alt="eraser">
                </button>
                <div class="line__width">
                    <i class="fa-solid fa-paintbrush"></i>
                    <select id = "selWidth">
                        <option value = "12" selected = "selected">12</option>
                        <option value = "15">15</option>
                        <option value = "20">20</option>
                        <option value = "25">25</option>
                    </select>
                </div>
                <div class="select__color">
                    <i class="fa-solid fa-palette"></i>
                    <select id = "selColor">
                        <option value = "black" selected = "selected">black</option>
                        <option value = "red">red</option>
                        <option value = "blue">blue</option>
                        <option value = "green">green</option>
                        <option value = "yellow">yellow</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="home__board">
            <!-- <h3 style ="margin-left: 45px;margin-top: 30px">Draw an Object</h3> -->
            <div class="drawing__board" >
                <canvas id = "canvas" width="2400" height="940"></canvas>
            </div>
            <div class="show__result">
                <h4 style = "margin-top: 10px;">Result:</span></h4>    
                <div id = "result" style = "margin-top: 10px; font-weight: bold; font-size: 1.2em; text-transform: uppercase;"></div>
            </div>
        </div>
    </div>
</body>
</html>