<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our product</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon" href="./assets/logo.png">
    <link rel="stylesheet" href="./Welcome.css">
</head>
<body class="welcome">
    <span id="splash-overlay" class="splash"></span>
    <span id="welcome" class="z-depth-4"></span>
    <main class="welcome__content">
        <p class="flow-text">Welcome to</p>
        <h1 class="title grey-text text-lighten-3">Draw Recognition</h1>
        <blockquote class="">Made by "Mấy con vợ của anh C"</blockquote>
        <a class="navigate" href="./draw.html">Draw! <i class="fa-solid fa-arrow-right"></i></a>
    </main>
  </body>
</html>